
    <header>Réinitialisation de votre mot de passe</header>
    <p>Bonjour {{ user.firstName }},</p>
    <p>Vous avez demandé à réinitialiser votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour définir un nouveau mot de passe :</p>
    <p>
        <a href="{{ resetLink }}">Réinitialiser le mot de passe</a>
    </p>
    <p>Si vous n'avez pas demandé ce changement, veuillez ignorer cet email.</p>
    <p>Merci !</p>
    <footer>
        <p>Cordialement,</p>
        <p>L'équipe Terrabella</p>
    </footer>

