{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/reset.js') }}" defer></script>
{% endblock %}

{% block body %}
    <div class="reset-password-container">
        <h1>Reset password</h1>
        <form method="post">
            <label for="email">Please, enter your e-mail</label>
            <input type="email" name="email" id="email" class="form-control" required autofocus
                   placeholder="Entrez votre adresse e-mail">
            <div>
                <button type="submit">Envoyer</button>
            </div>
        </form>
        <div>
            <a href="{{ path('app_login') }}" class="btn btn-secondary fs-4">Back to connection</a>
        </div>
    </div>
{% endblock %}