{% extends 'base.html.twig' %}

{% block title %}Guesthouse Terrabella - Registration{% endblock %}

{% block body %}
    <main>
        <section>
            <h2>{% trans %}Register{% endtrans %}</h2>
            <article>
                <p>{% trans %}Create an account to book your stay and enjoy exclusive offers at Guesthouse Terrabella.{% endtrans %}</p>
                <form action="{{ path('app_registration_submit') }}" method="post">
                    <div>
                        <label for="username">{% trans %}Username{% endtrans %}</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div>
                        <label for="email">{% trans %}Email{% endtrans %}</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div>
                        <label for="password">{% trans %}Password{% endtrans %}</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">{% trans %}Register{% endtrans %}</button>
                </form>
                <div class="button">
                    <a href="{{ path('app_home') }}" class="home-link">{% trans %}Return to main page{% endtrans %}</a>
                </div>
            </article>
        </section>
    </main>
{% endblock %}