{% extends 'base.html.twig' %}

{% block title %}Guesthouse Terrabella - Privacy Policy{% endblock %}

{% block body %}
    <main>
        <article>
            <h3>Privacy Policy</h3>
            <p>This is a basic privacy policy page. Add your detailed privacy policy content here.</p>
        </article>
    </main>
{% endblock %}